In [103]:
import pandas as pd

l = [10, 20, 30, 40, 50]
series = pd.Series(l)

print(type(series))
print(series)

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [104]:
import pandas as pd

d = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
series = pd.Series(d)

print(type(series))
print(series)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [105]:
import pandas as pd

d = {'학생1': '둘리', '학생2': '또치', '학생3': '도우너', '학생4': '희동이', '학생5': '마이콜'}
series = pd.Series(d)

print(type(series))
print(series)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [106]:
import pandas as pd

l = ['둘리', '또치', '도우너', '희동이', '마이콜']
series = pd.Series(l, index=['학생1', '학생2', '학생3', '학생4', '학생5'])

print(type(series))
print(series)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [107]:
import pandas as pd

blood = ['A형', 'B형', 'O형', 'AB형']
st = [34.2, 27.1, 26.7, 11.5]
series = pd.Series(st, index=blood)

print("[Series 출력]")
print(series)
print("[Series에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]")
print(series[0])
print(series[-1])
print(series[1])
print(series[1:4])
print("[Series에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]")
print(series['A형'])
print(series['AB형'])
print(series['B형'])
print(series['B형':'AB형'])
print("[Series의 크기 출력]")
print(len(series))
print("[Series의 인덱스 출력]")
print(series.index)
print("[Series의 데이터 값 출력]")
print(series.values)

[Series 출력]
A형     34.2
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[Series에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[Series에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[Series의 크기 출력]
4
[Series의 인덱스 출력]
Index(['A형', 'B형', 'O형', 'AB형'], dtype='object')
[Series의 데이터 값 출력]
[34.2 27.1 26.7 11.5]

In [54]:
import pandas as pd

d = {'name': ['둘리', '또치', '도우너', '희동이'],
    'kor': [90, 80, 70, 70],
    'eng': [99, 98, 97, 46],
    'math': [90, 70, 70, 60]}

df = pd.DataFrame(d)
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
  name  kor  eng  math
0   둘리   90   99    90
1   또치   80   98    70
2  도우너   70   97    70
3  희동이   70   46    60

In [60]:
import pandas as pd

d = {'name': ['둘리', '또치', '도우너', '희동이'],
     'kor': [90, 80, 70, 70],
     'eng': [99, 98, 97, 46],
     'math': [90, 70, 70, 60]}

df = pd.DataFrame(d)
df.index = ['학생1', '학생2', '학생3', '학생4']

print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
    name  kor  eng  math
학생1   둘리   90   99    90
학생2   또치   80   98    70
학생3  도우너   70   97    70
학생4  희동이   70   46    60

In [63]:
print(df)
df.index = ['st1', 'st2', 'st3', 'st4']
df.columns = ['dooly', 'ddochi', 'douner', 'heedong']
print(df)

    name  kor  eng  math
st1   둘리   90   99    90
st2   또치   80   98    70
st3  도우너   70   97    70
st4  희동이   70   46    60
    dooly  ddochi  douner  heedong
st1    둘리      90      99       90
st2    또치      80      98       70
st3   도우너      70      97       70
st4   희동이      70      46       60

In [110]:
data = {
    'name':['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', '듀크6', '듀크7'],
    'kor':[90, 80, 70, 70, 60, 70, 90],
    'eng':[99, 98, 97, 46, 77, 56, 90],
    'math':[90, 70, 70, 60, 88, 99, 90],
}
df = pd.DataFrame(data)
print(df)

print(df.head()) # 앞에서부터 5개
print(df.tail(3)) # 뒤에서부터 3개
print(df.columns)
print(df['name'])
print(df.eng)
print(df[['kor', 'math']])

print(df.iloc[3])
print(df.iloc[0,0])
print(df.iloc[3,2])
print(df.iloc[2:4,2])
print(df.iloc[2:4,2:4])

print(df.loc[3])
print(df.loc[0, 'name'])
print(df.loc[3, 'eng'])
print(df.loc[2:3, 'eng']) # 범위의 끝 값 포함
print(df.loc[2:3, 'eng':'math'])

  name  kor  eng  math
0  듀크1   90   99    90
1  듀크2   80   98    70
2  듀크3   70   97    70
3  듀크4   70   46    60
4  듀크5   60   77    88
5  듀크6   70   56    99
6  듀크7   90   90    90
  name  kor  eng  math
0  듀크1   90   99    90
1  듀크2   80   98    70
2  듀크3   70   97    70
3  듀크4   70   46    60
4  듀크5   60   77    88
  name  kor  eng  math
4  듀크5   60   77    88
5  듀크6   70   56    99
6  듀크7   90   90    90
Index(['name', 'kor', 'eng', 'math'], dtype='object')
0    듀크1
1    듀크2
2    듀크3
3    듀크4
4    듀크5
5    듀크6
6    듀크7
Name: name, dtype: object
0    99
1    98
2    97
3    46
4    77
5    56
6    90
Name: eng, dtype: int64
   kor  math
0   90    90
1   80    70
2   70    70
3   70    60
4   60    88
5   70    99
6   90    90
name    듀크4
kor      70
eng      46
math     60
Name: 3, dtype: object
듀크1
46
2    97
3    46
Name: eng, dtype: int64
   eng  math
2   97    70
3   46    60
name    듀크4
kor      70
eng      46
math     60
Name: 3, dtype: object
듀크1
46
2    97
3    46
Name: eng, dtype: int64
   eng  math
2   97    70
3   46    60

In [102]:
print(df)
df.set_index('name', inplace=True)
print(df)

  name  kor  eng  math
0  듀크1   90   99    90
1  듀크2   80   98    70
2  듀크3   70   97    70
3  듀크4   70   46    60
4  듀크5   60   77    88
5  듀크6   70   56    99
6  듀크7   90   90    90
      kor  eng  math
name
듀크1    90   99    90
듀크2    80   98    70
듀크3    70   97    70
듀크4    70   46    60
듀크5    60   77    88
듀크6    70   56    99
듀크7    90   90    90